DOCSEARCH_APP_ID=YOUR_APP_ID
DOCSEARCH_API_KEY=YOUR_SEARCH_API_KEY
DOCSEARCH_INDEX_NAME=YOUR_INDEX_NAME
DOCSEARCH_ASK_AI_ASSISTANT_ID=YOUR_ALGOLIA_ASK_AI_ASSISTANT_ID
DOCSEARCH_ASK_AI_SUGGESTED_QUESTIONS=false
