.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 3rem 0;
	}
	.actions {
		flex-direction: column;
		width: 100%;
	}
	.actions > a {
		width: 100%;
		max-width: 300px;
	}
}
